.post-title {
  margin-top: 35px;
  a {
    color: #151515;
    transition: color ease 0.7s;
    -webkit-transition: color ease 0.7s;
    &:focus,
    &:hover {
      text-decoration: none;
    }
  }
}

.post-meta {
  @include width-constraint;
  color: #95a5a6;
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin-top: 0.3em;
  text-transform: uppercase;
}

.post {
  counter-reset: footnote;

  // Standard <p> elements are constrained.
  p, h1, h2, h3, h4, h5, h6, ul, ol {
    @include width-constraint;
  }


  .image-embed {
    $margin: 20px;
    $popout-amount: -100px;

    &.left {
      float: left;
      margin-right: $margin;
    }
    &.right {
      float: right;
      margin-left: $margin;
    }

    @media (min-width: 900px) {
      &.popout.left {
        margin-left: $popout-amount;
      }
      &.popout.right {
        margin-right: $popout-amount;
      }
    }
  }

  .image-caption {
    display: block;
    font-size: 12px;
    margin-top: 2px;
    text-align: center;
  }

  .footnote {
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
    line-height: 15px;
    color: #FFF;
    width: 18px;
    height: 18px;
    background-color: #33CCB5;
    counter-increment: footnote;

    &:hover {
      background-color: #4DDFC9;
    }

    &:before {
      text-align: center;
      width: 18px;
      height: 18px;
      line-height: 18px;
      display: block;
      content: counter(footnote);
    }
  }

  .toc {
    @include width-constraint;
    margin-top: 0;
    .toc-header {
      text-align: center;
    }

    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 15px;
      width: 100%;
    }

    @media (min-width: $popout-min) {
      &.left,
      &.right {
        background-color: #F5F5F5;
        padding: 20px 10px;
        width: 50%;

        h1, h2, h3, h4, h5, h6 {
          margin-top: 0;
        }
      }
      &.left {
        margin-left: -140px;
        margin-right: 10px;
        float: left;
      }
      &.right {
        margin-left: 10px;
        margin-right: -140px;
        float: right;
      }
    }

    @media (min-width: $popout-max) {
      &.left,
      &.right {
        width: 60%;
      }
      &.left {
        margin-left: -180px;
      }
      &.right {
        margin-right: -180px;
      }
    }

    // List nonsense
    & > ul,
    & > ol {
      padding-left: 0;
    }
    ul, ol {
      padding-left: 10px;
    }
    ul, li, ol {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}


p,
li,
dt,
dd {
  font-size: 17px;
  font-weight: 100;
  line-height: 28px;
}
dt {
  font-weight: 400;
}
li {
  padding-left: 0.8em;
}
pre {
  font-family: Menlo, "Consolas", Courier, monospace;
  color: #596364;
  font-size: 1em;
  line-height: 1.2em;
  padding: 1em;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  background-color: #f7f7f7;
}
code {
  font-family: Menlo, "Consolas", Courier, monospace;
  font-size: 0.85em;
  color: #596364;
  background-color: #f7f7f7;
  padding: 2px 4px;
  line-height: 1.2em;
}
kbd {
  display: inline-block;
  margin-bottom: 0.4em;
  padding: 1px 8px;
  border: #ccc 1px solid;
  color: #666;
  text-shadow: #fff 0 1px 0;
  font-size: 0.9em;
  font-weight: bold;
  background: #f4f4f4;
  border-radius: 4px;
  box-shadow:
  0 1px 0 rgba(0, 0, 0, 0.2),
  0 1px 0 0 #fff inset;
}